[Unit]
Description=I hate OOM, so I prevent it from ever happening
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStart=/usr/local/bin/qsr

[Install]
WantedBy=multi-user.target
